:root{
  --primary-color: #2271D1;
  --dark-gray: #262626;
  --background: #0c0a11;
  --white: #FFF;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html{
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
}